.profile {
    border-style: outset;
}
.headerbox {
    height: auto;
    width: 100%;
    display: flex;
    background-color: powderblue;
}
.info {
    margin-top:50px;
}
.fa {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    transform: scale(2);
}
img {
    transform: scale(0.8);
}